{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "indent": [
      "error",
      2
    ],
    "semi": [
      2,
      "always"
    ]
  }
}